* {
  margin: 0;
}

:root {
  --quest-bg: #a0c2fe;
  --task-bg: #bfd8ff;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 10%) minmax(200px, 10%) minmax(0, 1fr);
  grid-template-rows:
    minmax(60px, auto) minmax(48px, auto) minmax(36px, auto)
    minmax(0, 1fr);
}

.header {
  grid-column: 1 / 4;

  background-color: black;
  color: white;
  font-weight: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header p {
  font-size: 1.6em;
}

.logo {
  max-height: 36px;
}

.quest.nav {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: rgb(207, 207, 207);
}

.quest.content {
  display: grid;
  grid-column: 2 /4;
  grid-row: 2 / 5;
}

.quest.title {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: var(--quest-bg);
}

.sub.nav {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-color: rgb(224, 224, 224);
}

.sub.title {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--task-bg);
}

.quest.title,
.sub.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.nav p {
  font-size: 1em;
  margin: 0.8em;
  text-align: center;
}

.task.content {
  background-color: rgb(244, 244, 244);
}
